<div class="bg-[#4CB2B2] items-center flex justify-center w-[100%] h-[40px] text-[#ffffff] font-medium">Add Team</div>
<div class="flex mt-[18px] w-[95%] ml-[10px]">
    <input type="text" required class="relative  border-b-[1px] border-[#8a8692] w-[100%]"/>
    <label class="absolute text-[#8a8692]">Team Name<span class="text-[#f27575]">*</span></label>
</div>
<div class="ml-[6pc] mt-[46px] flex flex-row gap-2">
    <button class="bg-[#e9e8e8] p-[9px] w-[100px]" (click)="dialogRef.close()"><span><i class="fa-solid fa-xmark"></i></span>
        close</button>
    <button class="bg-[#4CB2B2] p-[9px] w-[100px] text-white"><span><i class="fa-regular fa-plus mr-[6px]" style="color: #d7dae0"></i></span>Add</button>
</div>