<div class="flex flex-col">
  <div
    class="card flex w-[100%] bg-[#e9f6f6] h-[40px] teamHeader font-semibold"
  >
    <div class="w-[25%]">
      <h2>Team Name</h2>
    </div>
    <div class="w-[25%]">
      <h2>Team Size</h2>
    </div>
    <div class="w-[32%]">
      <h2>joining Date</h2>
    </div>
    <div>
      <h2>Actions</h2>
    </div>
  </div>
  <div *ngFor="let item of items" class="card w-[100%] catogories-data">
    <div class="flex justify-start ">
      <h2>{{ item.name }}</h2>
    </div>
    <div class="flex justify-start">
      <h2>{{ item.size }}</h2>
    </div>
    <div class="flex justify-start w-[9%]">
      <h2>{{ item.date }}</h2>
    </div>
    <div class="flex justify-start gap-2 w-[18%]">
      <i class="fa-solid fa-pen-to-square cursor-pointer" style="color: #4cb2b2;margin-top: 4px;" (click)="openEdit(item)"></i>
      <span class="material-icons cursor-pointer" style="color: #4cb2b2;" (click)="openArchieve()"> archive </span>
    </div>
  </div>

</div>
