<div class="container">
  <div class="tab gap-3 bg-[#FBFBFB] flex flex-row justify-between h-14 items-center w-[99%]">
    <div class="ml-8">
    <button
      class="tablinks font-poppins font-normal"
      (click)="openDialog()"
    >
    <span><i class="fa-regular fa-plus" style="color: #4CB2B2"></i></span>
      Add Team
    </button>
    </div>
    <div class="flex flex-row gap-3 mr-2">
      <button class="border-none text-[#1364DE] bg-none hover:underline">Show Inactive Teams</button>
      <span class="material-icons ng-star-inserted" mattooltip="Help" mattooltipclass="snova-tooltip arrow-below" style="cursor: pointer;" aria-describedby="cdk-describedby-message-64" cdk-describedby-host="">help_outline</span>    </div>
  </div>
</div>

<div class="w-[1176px] ml-[82px]">
  <app-application-groups
  ></app-application-groups>
</div>

<router-outlet />
