.container {
    display: flex;
    flex-direction: column;
    margin-top: 117px;
    margin-left: 62px;
    width: 96%;
  }
  
  .mat-tab-header.mat-mdc-tab-header{
    max-width: 50% !important;
    height: 33px !important;
  }
  .mat-mdc-tab-label-container{
    align-items: center !important;
  }
  span.mdc-tab-indicator{
    top:10px !important
  }
  .tabs-col {
    position: relative;
  }
  
  .tabs-col::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    border-bottom: 2px solid #c8e4e4;
  }
  .tablinks{
    border: 1px solid #D7DEE9;
    background-color: white;
    color: #4CB2B2;
    height: 36px;
    padding: 0px 10px;
    border-radius: 5px;
  }
  .custom-dialog-container{
    margin-top: 15% !important;
    margin-right: 54% !important;
  }
  
  .custom-dialog-container .mat-mdc-dialog-inner-container{
    margin-top: 15% !important;
    margin-right: 54% !important;
  }