
.cancle{
    background: white;
    border: 1px solid #ccc;
    width: 81px;
    height: 31px;
    margin-bottom: 8px;
    border-radius: 4px;
}
.tablinks{
    background-color: white;
    height: 36px;
    padding: 0px 10px;
    border: none !important;
  }
  .team-text{
    font-size: 16px !important;
    color: #363636 !important;
    font-weight: 501 !important;
  }
  .container{
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 15px;
  }
  .border_bottom{
    border-bottom: 2px solid #4cb2b2 !important;
    color: #4cb2b2 !important;
  }