<div class="filter-container">
  <input type="text" placeholder="Search" [(ngModel)]="searchQuery" />

  <div class="filter-group relative">
    <select [(ngModel)]="isAppFilter" class="w-[112px]">
      <option value="Show All">Show All</option>
      <option value="Apps Only">Apps Only</option>
      <option value="URLs Only">URLs Only</option>
    </select>
    <label class="absolute onLine">Is App</label>
  </div>

  <div class="filter-group relative">
    <label class="absolute onLine">Group Config</label>
    <select [(ngModel)]="groupConfigFilter" class="w-[123px]">
      <option value="All">All</option>
      <option value="UNMAPPED">UNMAPPED</option>
      <option value="MAPPED">MAPPED</option>
    </select>
  </div>

  <div class="filter-group relative">
    <label class="absolute onLine">Application Group</label>
    <select [(ngModel)]="applicationGroupFilter" class="w-[137px]">
      <option value="">All</option>
      <option value="group1">Group 1</option>
      <option value="group2">Group 2</option>
    </select>
  </div>

  <div class="filter-group relative">
    <label class="absolute onLine">Regular Expression</label>
    <select [(ngModel)]="regexFilter">
      <option value="All">All</option>
      <option value="Regular Expression">Regular Expression</option>
      <option value="From activity">From activity</option>
    </select>
  </div>

  <div class="map-butt">
    <span>
      <span
        class="material-icons"
        style="color: white; padding-top: 7px; font-size: 20px"
      >
        add
      </span> </span
    >Add Group
  </div>
  <div class="map-butt">
    <span>
      <span
        class="material-icons"
        style="color: white; padding-top: 7px; font-size: 20px"
      >
        add
      </span> </span
    >Add new rule
  </div>
  <div class="mt-1"><span class="material-icons"> more_horiz </span></div>
</div>

<div class="flex flex-col h-[290px] overflow-auto">
  <div *ngFor="let row of tableData" class="flex flex-row">
    <div class="iconBox">
      <span
        class="material-icons"
        *ngIf="row.app === 'APP'"
        style="font-size: 17px"
      >
        computer </span
      ><span
        class="material-icons"
        *ngIf="row.app === 'URL'"
        style="font-size: 17px"
      >
        language
      </span>
      <span> {{ row.app }}</span>
    </div>
    <div class="flex flex-row w-[100%] text-box">
      <span class="w-[55%]"> {{ row.name }}</span>
      <span class="w-[39%]">{{ row.description }}</span>
      <span
        ><div>
          <button class="action-button">Actions</button>
        </div></span
      >
    </div>
  </div>
</div>
